<a href="https://colab.research.google.com/github/PsCushman/deep-learning-challenge/blob/main/Optiminzation_Keras_Tuner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
import tensorflow as tf
import matplotlib.pyplot as plt
import sklearn as skl
import pandas as pd

#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

##Using Tuner to Double Ceck Optimization

There seemed to be an issues getting over the hump. Not only did I try a bunch of different combonations of nodes, layers, and activations, I tried decreasing the number of inputs by only using the top features of importance as well as PCA. Nothing got me over the hump.

Therefore, I ran the Hyperband Tuner to see what if anything could be the solution. It seems howvere, that maybe it is not possible to get this model over the 75% threshold with the methods we have learned.

I am sure there's something out there, but with simpler methods, we may be stuck at 73%.

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

app_type_counts = application_df['APPLICATION_TYPE'].value_counts()

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500

# Get the application types with counts below the cutoff
application_types_to_replace = app_type_counts[app_type_counts < cutoff_value].index.tolist()

# Print the application types to be replaced
print(application_types_to_replace)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
classification_counts = application_df['CLASSIFICATION'].value_counts()
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Choose a cutoff value for classifications
cutoff_value_classification = 100

# Get the classifications with counts below the cutoff
classifications_to_replace = classification_counts[classification_counts < cutoff_value_classification].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

In [7]:
# Convert categorical data to numeric with pd.get_dummies
application_df_encoded = pd.get_dummies(application_df,dtype=float)

# Display the first few rows of the encoded DataFrame
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
# Split our preprocessed data into our features and target arrays
X = application_df_encoded.drop('IS_SUCCESSFUL', axis=1)  # Features (remove the target column)
y = application_df_encoded['IS_SUCCESSFUL']              # Target

# Use sklearn to split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create scaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
!pip install keras-tuner

Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.31.0)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2023.7.22)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [10]:
import keras_tuner as kt

In [11]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=49))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [12]:
# Import the kerastuner library

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 57 Complete [00h 01m 24s]
val_accuracy: 0.5331778526306152

Best val_accuracy So Far: 0.7274635434150696
Total elapsed time: 00h 21m 41s

Search: Running Trial #58

Value             |Best Value So Far |Hyperparameter
tanh              |relu              |activation
7                 |5                 |first_units
3                 |2                 |num_layers
3                 |5                 |units_0
5                 |7                 |units_1
3                 |3                 |units_2
7                 |3                 |units_3
3                 |5                 |units_4
9                 |3                 |units_5
20                |20                |tuner/epochs
0                 |7                 |tuner/initial_epoch
0                 |1                 |tuner/bracket
0                 |1                 |tuner/round

Epoch 1/20
804/804 [==============================] - 5s 4ms/step - loss: 0.5960 - accuracy: 0.7089 - val_loss: 0.5775 - val_accuracy: 0.7207
Epoch 2/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5699 - accuracy: 0.7271 - val_loss: 0.5695 - val_accuracy: 0.7223
Epoch 3/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5622 - accuracy: 0.7271 - val_loss: 0.5632 - val_accuracy: 0.7226
Epoch 4/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5573 - accuracy: 0.7293 - val_loss: 0.5590 - val_accuracy: 0.7223
Epoch 5/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7308 - val_loss: 0.5576 - val_accuracy: 0.7236
Epoch 6/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5513 - accuracy: 0.7322 - val_loss: 0.5572 - val_accuracy: 0.7237
Epoch 7/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5507 - accuracy: 0.7330 - val_loss: 0.5557 - val_accuracy: 0.7252
Epoch 8/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7325 - val_loss: 0.5554 - val_accuracy: 0.7262
Epoch 9/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7331 - val_loss: 0.5549 - val_accuracy: 0.7249
Epoch 10/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7327 - val_loss: 0.5551 - val_accuracy: 0.7256
Epoch 11/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7334 - val_loss: 0.5551 - val_accuracy: 0.7259
Epoch 12/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5486 - accuracy: 0.7342 - val_loss: 0.5549 - val_accuracy: 0.7252
Epoch 13/20
484/804 [=================>............] - ETA: 0s - loss: 0.5478 - accuracy: 0.7355

In [16]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'relu',
 'first_units': 5,
 'num_layers': 2,
 'units_0': 5,
 'units_1': 7,
 'units_2': 3,
 'units_3': 3,
 'units_4': 5,
 'units_5': 3,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0023'}

In [17]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5538 - accuracy: 0.7275 - 576ms/epoch - 2ms/step
Loss: 0.5538493394851685, Accuracy: 0.7274635434150696